.home-image1{
    width: 2.5cm;
    height: 2.5cm;
    float: left;
    margin-top: -0.2cm;
    margin-left: -18cm;
   
}

.home-text1{
    font-size: 30px;
    margin-left: -18cm;
    margin-top: 1cm;
    color: #ffffff;
    letter-spacing: 3px;

   
}

#login{
    margin-top: -1.3cm;
    margin-left: 12cm;
    position: absolute;
}
#btnlg2{
    margin-left: 4cm;
    margin-top: 16px;
    position: absolute;
    
}
#btnlg1{
    margin-left: 1cm;
    margin-top: 0.2cm;
    position: absolute;
}

#sec1{
    background-color: rgb(1, 3, 46);
    border-width: 0;
    height: 2cm;
    border-radius: 0;
}

#sec2{
    margin-top: -0.5cm;
}

#sec3{
    margin-top: 1cm;
}

#ldsec5{
  margin-top: -13cm;
}

.image-banner{
    width: 100%;
    height: 18cm;
    z-index: -1;
    margin-top: -1cm;
    
}

#sec4{
    position: absolute;
   margin-top: -0.5cm;
   z-index: 1;
   width: 100%;
   
}





/* --------------------- */

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 1;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(249, 128, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    
  }
  
 

  .Register-btn{
    background-color: white;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8%;
   

  }

  .Register-btn:hover{
    background-color: rgb(249, 128, 0);
    color: white;
  }

  .login-btn{
    background-color: white;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -7cm;
    border-radius: 8%;

  }

  .login-btn:hover{
    background-color: rgb(249, 128, 0);
    color: white;
  }
  
  #text-home1{
      font-size: 95px;
      padding-left: 30px;
      color: white;
      text-shadow: 0 0 6px #007ba1, 0 0 8px #079cc9;

      
  }

  #sec5{
      margin-top: -11cm;

  }

  .imageH1{
    width: 3.5cm;
    height: 4cm;
  }

  #sec6{
    margin-top: -11cm;
    margin-left: 35cm;

}
#sec7{
  margin-top: 12cm;
  width: 35cm;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 4cm;
 
}

#homedes{
  color: #414141;
  width: 30cm;
  height: 5cm;
  font-size: 20px;
  font-style: italic;
}

