#st-sec4{
    position: absolute;
    margin-top: -2cm;
    z-index: 1;
    width: 100%;
    
   
}

#Logo1 {
  width: 8cm;
  height: 2cm;
}
.topnav1 {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    border: 1px solid rgb(170, 170, 170);
  }
  
.topnav1 a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
.topnav1 a:hover {
    color: rgb(249, 128, 0);
    text-decoration: none;
    
  }